*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background: url("/images/pattern-curve.svg");
    background-position: left bottom;
    background-repeat: no-repeat;
}

main{
    width: min(80%, 900px);
    margin: 0 auto;
    padding: 2rem 0;
    padding-bottom: 20rem;
}

.review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
}

.review-container>h3{
font-weight: lighter;
}

.review-img{
    position: relative;
    /* width: 100%;
    max-width: 300px; */
    padding: 4rem 1rem;
    padding-bottom: 1rem;
    background: url("/images/pattern-bg.svg");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.review-img img{
    /* position: absolute; */
    /* left: 0;
    top: 4rem; */
    width: 100%;
    display: block;
    object-fit: contain;
    box-shadow: 1px 0px 10px rgb(88, 86, 86);
    margin: 0 auto;
}

.hidden{
    display: none;
}

.reviewer-info{
    padding: 2rem 0;
    text-align: center;
}

.reviewer-info h4{
    color: gray;
    font-weight: 100;
}

.review-container>h3{
    background: url("/images/pattern-quotes.svg");
    background-repeat: no-repeat;
    background-position: bottom 110% right 90%;
    background-size: 20%
;
}

.slide{
    align-self: center;
    padding: .5rem .5rem;
    border-radius: 20px;
    width: 25%;
    max-width: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    transform: translate(0,-20px);
    box-shadow: 1px 1px 10px gray;
}

.anim{
    animation: haha 1s linear both;
}

@keyframes haha{
    0%{
        opacity: 0;
    }
    50%{
        transform: rotate(10deg);
    }
    70%{
        transform: rotate(-10deg);
    }
    100%{
        opacity: 1;
        box-shadow: 1px 1px 10px gray;
    }
}

@media screen and (min-width: 700px) {

    .review-container{
        flex-direction: row;
        padding: 0 2rem;
    }

    main{
        padding: 15rem 0;
    }

    .review-container>*{
        flex: 1 100%;
    }

    .review-container>h3{
        flex: 2 100%;
        width: 60%;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .review-img img{
      width: 400px;
    }

    .reviewer-info{
        flex: 1;
        align-self: flex-end;
        text-align: right;
    }

    .slide{
        align-self: flex-start;
    }
}